<div class="container-fluid" id="experience">
	<div class="row">
		<div class="col-xs-12 experience section-header">
			<div class="title">
				Software Engineer
			</div>

			<div class="section-header-content col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
				<p>
					I'm a software engineer with 2 years of experience developing web applications using a variety of languages, frameworks and tools.
				</p>
				<br>
				<p>
					I've been involved in building both front and backend features with a focus on architecting scalable, idempotent APIs and modular, reusable components. Most of the projects that I've been involved in were developed through the AGILE process. 
				</p>
			</div>

			<div class="section-header-content col-sm-6 col-sm-offset-3" style="margin-bottom: 0px;">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-xs-4 social-icon">
						<i class="fa fa-github" aria-hidden="true"></i>
					</div>
					<div class="col-xs-4 social-icon">
						<i class="fa fa-linkedin" aria-hidden="true"></i>
					</div>
					<div class="col-xs-4 social-icon">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="arrowbar">
				<div class="arrow"></div>
			</div>
		</div>

		<div class="col-xs-12 skills section-header">
			<div class="col-md-10 col-md-offset-1 col-sm-12 section-header-content">
				<div class="col-sm-3">
					<div class="section-header-skills">
						<i class="fa fa-code"></i>
						<div class="skills-title">
							Languages
						</div>
						<div class="skill-items">
							<span>
								Experienced coding with Javascript, Ruby, PHP, HTML5, CSS3; TDD with RSPEC, Capybara, Jasmine, Karma
							</span>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="section-header-skills">
						<i class="fa fa-laptop"></i>
						<div class="skills-title">
							Frameworks
						</div>
						<div class="skill-items">
							<span>Laravel, Ruby on Rails; client side frameworks such as Angular/Angular2, React/Flux, and Backbone.js</span>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="section-header-skills">
						<i class="fa fa-database" aria-hidden="true"></i>
						<div class="skills-title">
							Database
						</div>
						<div class="skill-items">
							Experience in building scalable APIs using relational databases (MySQL, Postgresql), NoSQL (MongoDB) and caching middleware (Redis)
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="section-header-skills">
						<i class="fa fa-cloud"></i>
						<div class="skills-title">
							Cloud Solutions
						</div>
						<div class="skill-items">
							Experienced	in deploying and maintaining ECS solutions such as AWS, Alicloud; RDS services, and Cache solutions such as Fastly. 
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-10 col-md-offset-1 col-sm-12 section-header-content">
				<div class="col-sm-3">
					<div class="section-header-skills">
						<i class="fa fa-building-o"></i>
						<div class="skills-title">
							Enterprise Projects
						</div>
						<div class="skill-hours">
							<span>
								4
							</span>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="section-header-skills">
						<i class="fa fa-github"></i>
						<div class="skills-title">
							Github Projects
						</div>
						<div class="skill-hours">
							<span>
								15
							</span>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="section-header-skills">
						<i class="fa fa-gamepad" aria-hidden="true"></i>
						<div class="skills-title">
							Games
						</div>
						<div class="skill-hours">
							1
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="section-header-skills">
						<i class="fa fa-code"></i>
						<div class="skills-title">
							Coding Hours
						</div>
						<div class="skill-hours">
							4000+
						</div>
					</div>
				</div>
			</div>

			<div class="arrowbar">
				<div class="arrow"></div>
			</div>
		</div>
		<div class="col-xs-12 wrap">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 no-padding section-intro">
				<div class="col-sm-12 no-padding section-intro-title">
					<div class="title">
						Relevant Experience
					</div>
				</div>

				<div class="col-sm-12 no-padding section-intro-text">

					<p>
						Ever since writting my first program, I've loved Software Development for the very reason that new ideas can be turned to reality. Each day that I open my machine, I'm excited to explore a new subject in the realm of ever evolving technologies, and to leverage newly acquired knowledge in bringing the abstract to life.
					</p>

					<br>

					<p>
						I've been fortunate enough to work with and learn from some of the most talented developers. I have a wide range of skills that include front-end development, back-end development, deployment, and server maintenance.
					</p>
				</div>
			</div>

			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 no-padding section-intro">
				<div class="col-xs-12 no-padding">
					<div class="col-xs-12 no-padding">
						<div class="timeline-container">
							<div class="timeline"></div>
							<div class="timeline-marker">
								<i class="fa fa-dot-circle-o"></i>
							</div>
							<div class="timeline-marker-text">
								Current
							</div>
						</div>

						<div class="col-xs-10 col-xs-offset-2 project-text no-padding">
							<div class="project-title">
								Valsfer
							</div>
							<div class="project-role">
								Role: <i>Fullstack Engineer</i>
							</div>
							<div class="project-description">
								<ul>
									<li>
										<span>
											&bull; Architect database schema and PHP-Laravel MVC to build a variety of platform APIs 
										</span>
									</li>
									<li>
										<span>
											&bull; Leveraged and intergrated services such as Stripe and Stream in building platform features
										</span>
									</li>
									<li>
										<span>
											&bull; Built responsive,  mobile friendly UI  using best practices, focusing on code maintainability, performance, and reusability
										</span>
									</li>
									<li>
										<span>
											&bull; Improved application modularity and efficiency by migrated Jquery based legacy front end code base to use Angular.js
										</span>
									</li>
								</ul>
							</div>
							<div class="project-tech">
								<i>PHP, Laraval, Angular, MySQL, Apache, AWS</i>
							</div>
						</div>
					</div>
					<div class="col-xs-12 no-padding">
						<div class="timeline-container">
							<div class="timeline"></div>
							<div class="timeline-marker">
								<i class="fa fa-dot-circle-o"></i>
							</div>
							<div class="timeline-marker-text">
								Dec 
								<br>
								2014
							</div>
						</div>

						<div class="col-xs-10 col-xs-offset-2 project-text" style="padding-bottom: 0px;">
							<div class="project-title">
								App Academy
							</div>
							<div class="project-role">
								Role: <i>Student & Fullstack Engineer</i>
							</div>
							<div class="project-description">
								<ul>
									<li>
										<span>
											&bull;  Immersive study of best-practices for OOP, authentication, authorization, source control (Git), deployment (Heroku + AWS), TDD (Rspec + Jasmine + Capybara)
										</span>
									</li>
									<li>
										<span>
											&bull; Built two fullstack RoR applications that utilizes a variety of modern MVC/MVVC patterns such as Backbone.js and React/Flux 
										</span>
									</li>
									<li>
										<span>
											&bull; Automated unit/behavioral driven testing suites for application maintenance 
										</span>
									</li>
								</ul>
							</div>
							<div class="project-tech">
								<i>Ruby, Rails, Backbone.js, React.js, Postgresql, Rspect, Jasmine, Heroku</i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>