<div class="navbar-static">
	<div class="navbar-brand" (click)="revertFullScreenAnimation()">
		<svg>
			<path d="M1.1 140.6c-1.5-1.4-1.5-3.8 0-5.2l20.5-20.5c1.5-1.5 3.8-1.5 5.2 0 1.5 1.5 1.5 3.8 0 5.3L6.3 140.6c-.7.7-1.7 1.1-2.6 1.1-.9 0-1.9-.4-2.6-1.1zM60.1 26.8c-1.5-1.5-1.5-3.8 	0-5.3L80.5 1.1c1.5-1.4 3.8-1.4 5.2 0 1.4 1.4 1.4 3.8 0 5.2L65.3 26.8c-.7.7-1.7 1.1-2.6 1.1-.9 0-1.9-.4-2.6-1.1z"></path>
		</svg>
		<div class="navbar-brand-text">
			<span>W&#237;ll T&#237;an</span>
			<br>
			<span>Portfoli&#243;</span>
		</div>
	</div>
	<div class="navbar-list">
		<div class="navbar-item">
			<span>
				Bi&#243;
			</span>
		</div>
		<div class="navbar-item">
			<span>
				Portfoli&#243;
			</span>
		</div>
		<div class="navbar-item">
			<span>
				Experience & Sk&#237;lls
			</span>
		</div>
	</div>
</div>