<div class="container-fluid" id="portfolio">
	<div class="row">
		<div class="col-xs-12 portfolio section-header">
			<div class="title">
				Projects
			</div>

			<div class="section-header-content col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
				<p>
					What I love most about development is the colaboration process between engineers. My experience has led me to team with engineers in a variety of environments, including contracted and outsourced teams. These opportunities of exchange often exposed me to new ideas and patterns of coding that facilitated my growth as an engineer. 
				</p>
				<br>
				<p>
					Alot of the motivation for my projects stem from an interest to learn and utilize technology to solve problems, but also from the desire to build tools and solutions for my fellow devs to use. For this reason, I incoporate alot of the philosophies of modularity, reusibility, maintainability in my approach to coding.
				</p>
				<br>
				<p>
					Here is a sample of the applications that I've worked on.
				</p>
			</div>

			<div class="section-header-content col-sm-6 col-sm-offset-3" style="margin-top: 0px;margin-bottom: 0px;">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-xs-4 social-icon">
						<a href="https://github.com/Will-Tian" target="_blank" title="github">
							<i class="fa fa-github" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-xs-4 social-icon">
						<a href="https://www.linkedin.com/in/willtian" target="_blank" title="linkedin">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-xs-4 social-icon">
						<a href="mailto:will.w.tian@gmail.com?" title="will.w.tian@gmail.com">
							<i class="fa fa-google" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="arrowbar">
				<div class="arrow"></div>
			</div>
		</div>

		<div class="col-xs-12 project-item">
			<div class="col-sm-5 project-text">
				<div class="project-title">
					Valsfer
				</div>
				<div class="project-role">
					<i>Fullstack Engineer</i>
				</div>
				<div class="project-description">
					Online platform for commercializing industrial design concepts. Built business/client APIs to support a variety of features such as online payment, admin management and design assets submission.
				</div>
				<div class="project-tech">
					<i>PHP, Laraval, Angular, MySQL, Apache, AWS</i>
				</div>
			</div>
			<div class="col-sm-7 preview pright">
				<div class="phone">
					<div class="top">
						<div class="camera">
							<span></span>
						</div>
						<div class="speaker">
							<span></span>
						</div>
					</div>
					<img src="../../../public/images/valsfer-mobile-2.jpg">
					<div class="bottom">
						<div>
							<span></span>
						</div>
					</div>
				</div>

				 <div class="browser cond">
				 	<div class="top">
				 		<ul><li></li><li></li><li></li></ul>
				 		<span>valsfer.com</span>
				 	</div>
				 		<img src="../../../public/images/valsfer-home-3.jpg">
				 </div>
			</div>
		</div>

		<div class="col-xs-12 project-item">
			<div class="col-sm-5 project-text">
				<div class="project-title">
					Portfolio
				</div>
				<div class="project-role">
					<i>Fullstack Engineer</i>
				</div>
				<div class="project-description">
					A personal project motivated by an exploration of using component-based architecture in building modular views. I also took this opportunity to use Node.js and Webpack to serve/build the application.
				</div>
				<div class="project-tech">
					<i>Angular 2, Node, Express, Webpack</i>
				</div>
			</div>
			<div class="col-sm-7 preview pright">
				<div class="phone">
					<div class="top">
						<div class="camera">
							<span></span>
						</div>
						<div class="speaker">
							<span></span>
						</div>
					</div>
					<img src="../../../public/images/portfolio-mobile-2.png">
					<div class="bottom">
						<div>
							<span></span>
						</div>
					</div>
				</div>

				 <div class="browser cond">
				 	<div class="top">
				 		<ul><li></li><li></li><li></li></ul>
				 		<span>valsfer.com</span>
				 	</div>
				 		<img src="../../../public/images/portfolio-desktop-3.png">
				 </div>
			</div>
		</div>

		<div class="col-xs-12 project-item">
			<div class="col-sm-5 project-text">
				<div class="project-title">
					Ms.Pacman
				</div>
				<div class="project-role">
					<i>Fullstack Engineer</i>
				</div>
				<div class="project-description">
					One of my first projects. A recreation of the classic arcade game, built from scratch with Javascript and HTML5 canvas. I made many additions to the class design including redesigned pathfinding, a modular level creation process and player move queue for better control responsiveness.
				</div>
				<div class="project-tech">
					<i>Javascript, Canvas, HTML5, CSS3</i>
				</div>
			</div>
			<div class="col-sm-7 preview pright">
				<div class="phone">
					<div class="top">
						<div class="camera">
							<span></span>
						</div>
						<div class="speaker">
							<span></span>
						</div>
					</div>
					<img src="../../../public/images/pacman-mobile.jpg">
					<div class="bottom">
						<div>
							<span></span>
						</div>
					</div>
				</div>

				 <div class="browser cond">
				 	<div class="top">
				 		<ul><li></li><li></li><li></li></ul>
				 		<span>http://will-tian.github.io/Pacman.js/</span>
				 	</div>
				 		<img src="../../../public/images/pacman-desktop.jpg">
				 </div>
			</div>
		</div>
	</div>
</div>