<div class="container-fluid" id="portfolio">
	<div class="row">
		<div class="col-xs-12 project-item">
			<div class="col-sm-5 project-text">
				<div class="project-title">
					Valsfer
				</div>
				<div class="project-role">
					<i>Fullstack Engineer</i>
				</div>
				<div class="project-description">
					Created an online platform for commercializing industrial design concepts. Built business and client apis to support a variety of features such as integrated online payment, admin management, design assets submission & modification.
				</div>
				<div class="project-tech">
					<i>PHP, Laraval, Angular, MySQL, Apache, AWS</i>
				</div>
			</div>
			<div class="col-sm-7 preview pright">
				<div class="phone">
					<div class="top">
						<div class="camera">
							<span></span>
						</div>
						<div class="speaker">
							<span></span>
						</div>
					</div>
					<img src="../../../public/images/valsfer-mobile-2.jpg">
					<div class="bottom">
						<div>
							<span></span>
						</div>
					</div>
				</div>

				 <div class="browser cond">
				 	<div class="top">
				 		<ul><li></li><li></li><li></li></ul>
				 		<span>valsfer.com</span>
				 	</div>
				 		<img src="../../../public/images/valsfer-home-3.jpg">
				 </div>
			</div>
		</div>

		<div class="col-xs-12 project-item">
			<div class="col-sm-5 project-text">
				<div class="project-title">
					Ms.Pacman
				</div>
				<div class="project-role">
					<i>Fullstack Engineer</i>
				</div>
				<div class="project-description">
					My first and one of my favorite projects. A recreation of the classic arcade game, built from scratch with Javascript and HTML5 canvas. I made many additions to the class design including a modular level creation process and player move queue for better control responsiveness.
				</div>
				<div class="project-tech">
					<i>Javascript, Canvas, HTML5, CSS3</i>
				</div>
			</div>
			<div class="col-sm-7 preview pright">
				<div class="phone">
					<div class="top">
						<div class="camera">
							<span></span>
						</div>
						<div class="speaker">
							<span></span>
						</div>
					</div>
					<img src="../../../public/images/pacman-mobile.jpg">
					<div class="bottom">
						<div>
							<span></span>
						</div>
					</div>
				</div>

				 <div class="browser cond">
				 	<div class="top">
				 		<ul><li></li><li></li><li></li></ul>
				 		<span>http://will-tian.github.io/Pacman.js/</span>
				 	</div>
				 		<img src="../../../public/images/pacman-desktop.jpg">
				 </div>
			</div>
		</div>
	</div>
</div>