<div class="container-fluid" id="portfolio">
	<div class="row">
		<div class="col-xs-12 portfolio section-header">
			<div class="title">
				Projects
			</div>

			<div class="section-header-content col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
				<p>
					Here is a sample of the applications that I've worked on in the past year. All of these projects were built from the ground up, from white boarding to design templates to code. 
				</p>
				<br>
				<p>
					Alot of the motivation for my personal projects stem from an interest to learn and utilize technology to solve problems. As such, I especially enjoy learning from source code and my fellow develoeprs in San Francisco's active Meetup scene.
				</p>
			</div>

			<div class="section-header-content col-sm-6 col-sm-offset-3" style="margin-top: 0px;margin-bottom: 0px;">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-sm-4 social-icon">
						<i class="fa fa-github" aria-hidden="true"></i>
					</div>
					<div class="col-sm-4 social-icon">
						<i class="fa fa-linkedin" aria-hidden="true"></i>
					</div>
					<div class="col-sm-4 social-icon">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="arrowbar">
				<div class="arrow"></div>
			</div>
		</div>

		<div class="col-xs-12 project-item">
			<div class="col-sm-5 project-text">
				<div class="project-title">
					Valsfer
				</div>
				<div class="project-role">
					<i>Fullstack Engineer</i>
				</div>
				<div class="project-description">
					Created an online platform for commercializing industrial design concepts. Built business and client apis to support a variety of features such as integrated online payment, admin management, design assets submission & modification.
				</div>
				<div class="project-tech">
					<i>PHP, Laraval, Angular, MySQL, Apache, AWS</i>
				</div>
			</div>
			<div class="col-sm-7 preview pright">
				<div class="phone">
					<div class="top">
						<div class="camera">
							<span></span>
						</div>
						<div class="speaker">
							<span></span>
						</div>
					</div>
					<img src="../../../public/images/valsfer-mobile-2.jpg">
					<div class="bottom">
						<div>
							<span></span>
						</div>
					</div>
				</div>

				 <div class="browser cond">
				 	<div class="top">
				 		<ul><li></li><li></li><li></li></ul>
				 		<span>valsfer.com</span>
				 	</div>
				 		<img src="../../../public/images/valsfer-home-3.jpg">
				 </div>
			</div>
		</div>

		<div class="col-xs-12 project-item">
			<div class="col-sm-5 project-text">
				<div class="project-title">
					Ms.Pacman
				</div>
				<div class="project-role">
					<i>Fullstack Engineer</i>
				</div>
				<div class="project-description">
					One of my first and favorite projects. A recreation of the classic arcade game, built from scratch with Javascript and HTML5 canvas. I made many additions to the class design including a modular level creation process and player move queue for better control responsiveness.
				</div>
				<div class="project-tech">
					<i>Javascript, Canvas, HTML5, CSS3</i>
				</div>
			</div>
			<div class="col-sm-7 preview pright">
				<div class="phone">
					<div class="top">
						<div class="camera">
							<span></span>
						</div>
						<div class="speaker">
							<span></span>
						</div>
					</div>
					<img src="../../../public/images/pacman-mobile.jpg">
					<div class="bottom">
						<div>
							<span></span>
						</div>
					</div>
				</div>

				 <div class="browser cond">
				 	<div class="top">
				 		<ul><li></li><li></li><li></li></ul>
				 		<span>http://will-tian.github.io/Pacman.js/</span>
				 	</div>
				 		<img src="../../../public/images/pacman-desktop.jpg">
				 </div>
			</div>
		</div>
	</div>
</div>