<div class="container-fluid" id="bio">
	<div class="row">
		<div class="col-xs-12 bio section-header">
			<div class="col-xs-12 section-header-content">
				<div class="slide-avatar-container">
					<img class="avatar" src="../../../public/images/ProfilePic.jpg">
				</div>
			</div>

			<div class="title">
				Bio
			</div>

			<div class="section-header-content col-sm-6 col-sm-offset-3">
				<p>
					My name is Will Tian. I'm a software engineer based in San Francisco with two years of experience working as a fullstack developer. 
				</p>
				<br>
				<p>
					A bit of background about myself. I initial trained in data analytics, having graduated with a degree in economics from UC Berkeley and worked as an analyst on stock portfolio performance at the campus California Investment Association. During my time there, I realized that alot of the hardest problems that I was facing stemmed not from data analysis, but rather from presenting such data in an intelligible and interesting way to our clients. I wanted to solve this problem and ventured into programming, via data visualization; from there, I became hooked, and have since worked on software development in the startup scene.  
				</p>
				<br>
				<p>
					
				</p>
			</div>

			<div class="section-header-content col-sm-6 col-sm-offset-3" style="margin-top: 30px">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-sm-4 social-icon">
						<i class="fa fa-github" aria-hidden="true"></i>
					</div>
					<div class="col-sm-4 social-icon">
						<i class="fa fa-linkedin" aria-hidden="true"></i>
					</div>
					<div class="col-sm-4 social-icon">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="arrowbar">
				<div class="arrow"></div>
			</div>
		</div>

		<div class="col-xs-12 wrap">
			<div class="col-sm-8 col-sm-offset-2 no-padding section-intro">
				<div class="col-sm-12 no-padding section-intro-title">
					<div class="title">
						Education
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-sm-offset-2 no-padding section-intro">
				<div class="col-xs-12 no-padding">
					<div class="col-sm-12 no-padding">
						<div class="timeline-container">
							<div class="timeline"></div>
							<div class="timeline-marker">
								<img src="../../../public/images/uc_berkeley_seal.png">
							</div>
							<div class="timeline-marker-text">
								December 2013
							</div>
						</div>

						<div class="col-sm-10 col-sm-offset-2 project-text no-padding">
							<div class="project-title">
								UC Berkeley
							</div>
							<div class="project-role">
								Bachelor's Degree in Economics
							</div>
							<div class="project-description">
								<ul>
									<li>
										<span>
											&bull; Actively involved in professional campus organizations such as California Investment Association, and ASUC
										</span>
									</li>
									<li>
										<span>
											&bull; Extensive upper division course work in mathmetical modeling, Econometrics 140 & 141, statistic and demographic analysis
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-12 no-padding">
						<div class="timeline-container">
							<div class="timeline"></div>
							<div class="timeline-marker">
								<img src="../../../public/images/app_academy_seal.png">
							</div>
							<div class="timeline-marker-text">
								December 
								<br>
								2014
							</div>
						</div>

						<div class="col-sm-10 col-sm-offset-2 project-text" style="padding-bottom: 0px;">
							<div class="project-title">
								App Academy
							</div>
							<div class="project-role">
								<i>Fullstack Web Development Immersive</i>
							</div>
							<div class="project-description">
								<ul>
									<li>
										<span>
											&bull; Merit based program with Acceptance rate < 5%
										</span>
									</li>
									<li>
										<span>
											&bull;  Immersive study of best-practices for OOP, authentication, authorization, source control (Git), deployment (Heroku + AWS), TDD (Rspec + Jasmine + Capybara)
										</span>
									</li>
									<li>
										<span>
											&bull; Built two fullstack RoR applications that utilizes a variety of modern MVC/MVVC patterns such as Backbone.js and React/Flux 
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="arrowbar">
				<div class="arrow"></div>
			</div>
		</div>

		<div class="col-xs-12 community">
			<div class="col-sm-8 col-sm-offset-2 no-padding section-intro">
				<div class="col-sm-12 no-padding section-intro-title">
					<div class="title">
						Community Involvement
					</div>
				</div>
			</div>
			<div class="section-header-content col-sm-6 col-sm-offset-3">
				<p>
					One of the biggest perks of being a software engineer is our active culture and community. Alot of the knowledge and skills pertaining todevelopment can be gained via informal teaching; and alot of the learned wisdoms of the trade is best taught in person. I especially enjoy the social aspect of sharing experiences, meeting new and old friends, having a beer while at it.
				</p>
				<br>
				<p>
					Here are some of the Meetups that I'm actively involved in.
				</p>
				<br>
				<p>
					
				</p>
			</div>	
			<div class="arrowbar">
				<div class="arrow"></div>
			</div>
		</div>

		<div class="col-xs-12 community-list">
			<div class="col-sm-10 col-sm-offset-1 community-items">
				<div class="col-sm-4 col-xs-12 community-item">
					<div class="box">
						<div class="boxInner">
							<img src="http://photos2.meetupstatic.com/photo_api/event/rx226x172/sg4497365dbe/446768829.jpeg">	
							<div class="description">
								<div class="text">
									The SF JavaScript Meetup
								</div>
								<div class="sub-text">We're 11,180 Hackers</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 community-item">
					<div class="box">
						<div class="boxInner">
							<img src="http://photos4.meetupstatic.com/photo_api/event/rx226x172/sg4497365dbe/445473535.jpeg">	
							<div class="description">
								<div class="text">
									The SF Ruby Meetup Group
								</div>
								<div class="sub-text">We're 6,043 Ruby Enthusiasts</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 community-item">
					<div class="box">
						<div class="boxInner">
							<img src="http://photos1.meetupstatic.com/photo_api/event/rx226x172/sg4497365dbe/274448552.jpeg">	
							<div class="description">
								<div class="text">
									SF & Silicon Valley Web Performance Group
								</div>
								<div class="sub-text">We're 3,292 Web Speeders</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 community-item">
					<div class="box">
						<div class="boxInner">
							<img src="http://photos4.meetupstatic.com/photo_api/event/rx226x172/sg4497365dbe/337586312.jpeg">	
							<div class="description">
								<div class="text">
									San Francisco Big Data & Scalable Systems
								</div>
								<div class="sub-text">We're 1,893 Members</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 community-item">
					<div class="box">
						<div class="boxInner">
							<img src="http://photos1.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/255591922.jpeg">	
							<div class="description">
								<div class="text">
									San Francisco Hackathons
								</div>
								<div class="sub-text">We're 492 Members</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 community-item">
					<div class="box">
						<div class="boxInner">
							<img src="http://photos3.meetupstatic.com/photo_api/event/rx226x172/sg4497365dbe/447896599.jpeg">	
							<div class="description">
								<div class="text">
									Bay Area D3 User Group
								</div>
								<div class="sub-text">We're 4,196 Data Drivers</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 community-item">
					<div class="box">
						<div class="boxInner">
							<img src="http://photos2.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/228709492.jpeg">	
							<div class="description">
								<div class="text">
									SF Developer and Designer Skill Exchange
								</div>
								<div class="sub-text">We're 244 Members</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 community-item">
					<div class="box">
						<div class="boxInner">
							<img src="http://photos4.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/439843958.jpeg">	
							<div class="description">
								<div class="text">
									SF Front-End Developers: Client Side Sorcery
								</div>
								<div class="sub-text">We're 1,601 Client-siders</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 community-item">
					<div class="box">
						<div class="boxInner">
							<img src="http://photos4.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/435822940.jpeg">	
							<div class="description">
								<div class="text">
									Rethink DB SB Meetup Group
								</div>
								<div class="sub-text">We're 696 SF Rethinkers</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>