<div class="navbar-static">
	<div class="navbar-brand" (click)="revertFullScreenAnimation()">
		<svg>
			<path d="M1.1 140.6c-1.5-1.4-1.5-3.8 0-5.2l20.5-20.5c1.5-1.5 3.8-1.5 5.2 0 1.5 1.5 1.5 3.8 0 5.3L6.3 140.6c-.7.7-1.7 1.1-2.6 1.1-.9 0-1.9-.4-2.6-1.1zM60.1 26.8c-1.5-1.5-1.5-3.8 	0-5.3L80.5 1.1c1.5-1.4 3.8-1.4 5.2 0 1.4 1.4 1.4 3.8 0 5.2L65.3 26.8c-.7.7-1.7 1.1-2.6 1.1-.9 0-1.9-.4-2.6-1.1z"></path>
		</svg>
		<div class="navbar-brand-text">
			<span>W&#237;ll T&#237;an</span>
			<br>
			<span>Portfoli&#243;</span>
		</div>
	</div>
	<div class="navbar-list">
		<div class="navbar-item" (click)="jumpToSlide(2)">
			<span class="text-decorator" [ngClass]="{active: currentSlide === 2 && fullScreen}">
				Bi&#243;
			</span>
		</div>
		<div class="navbar-item" (click)="jumpToSlide(1)">
			<span class="text-decorator" [ngClass]="{active: currentSlide === 1 && fullScreen}">
				Portfoli&#243;
			</span>
		</div>
		<div class="navbar-item" (click)="jumpToSlide(0)">
			<span class="text-decorator" [ngClass]="{active: currentSlide === 0 && fullScreen}">
				Experience & Sk&#237;lls
			</span>
		</div>
	</div>
</div>
<div class="container-fluid" id="home-1" [ngClass]="{fullScreen: fullScreen, slide1: currentSlide===0, slide2: currentSlide === 1, slide3: currentSlide === 2}">
	<div class="row">
		<div class="col-xs-12 no-padding">
			<div class="box-viewport filter-dark">
				<svg id="js-home--pattern" class="pattern-overlay" viewBox="0 0 1596 1000" preserveAspectRatio="xMidYMid slice">
					<defs>
						<mask id="js-home--shapes">
							<rect width="1596" height="1000" fill="#fff"></rect>
							<path class="js-shape js-shape--top" d="M523.602,499.965c25.555,0,51.004-9.793,70.328-29.062l549.008-549.087
								c38.752-38.829,38.752-101.904,0-140.734c-38.855-38.855-101.801-38.855-140.76,0L453.273,329.984
								c-39.012,38.961-39.012,101.957,0,140.918C472.648,490.172,498.203,499.965,523.602,499.965z"></path>
							<path class="js-shape js-shape--bottom" d="M1002.125,529.158l-548.904,549.035c-38.959,38.934-38.959,101.879,0,140.709
								c19.402,19.453,44.852,29.168,70.381,29.168c25.424,0,50.953-9.715,70.406-29.168l548.824-548.904
								c38.883-38.961,38.883-101.904,0-140.84C1103.924,490.252,1041.006,490.252,1002.125,529.158z"></path>
						</mask>
					</defs>
					<rect id="js-home--mask" width="1596" height="1000" style="mask: url(&quot;#js-home--shapes&quot;); fill: rgba(152, 202, 230,0.98);"></rect>
				</svg>
				<div class="boxInner-viewport">
					<div class="slide" id="slide-0" [ngClass]="{current: currentSlide === 0}">
						<div class="slide-image-top">
							<div class="slide-image-container zoom">
								<img class="box-img size-fixed img-render-transition" src="../../../public/images/home1.jpg">	
							</div>
						</div>
						<div class="slide-image-bottom">
							<div class="slide-image-container zoom">
								<img class="box-img size-fixed img-render-transition" src="../../../public/images/home1.jpg">			
							</div>
						</div>
					</div>	
					<div class="slide" id="slide-1" [ngClass]="{current: currentSlide === 1}">
						<div class="slide-image-top">
							<div class="slide-image-container zoom">
								<img class="box-img size-fixed img-render-transition" src="../../../public/images/home2.jpg">	
							</div>
						</div>
						<div class="slide-image-bottom">
							<div class="slide-image-container zoom">
								<img class="box-img size-fixed img-render-transition" src="../../../public/images/home2.jpg">			
							</div>
						</div>
					</div>
					<div class="slide" id="slide-2" [ngClass]="{current: currentSlide === 2}">
						<div class="slide-image-top">
							<div class="slide-image-container zoom">
								<img class="box-img size-fixed img-render-transition" src="../../../public/images/home3.jpg">	
							</div>
						</div>
						<div class="slide-image-bottom">
							<div class="slide-image-container zoom">
								<img class="box-img size-fixed img-render-transition" src="../../../public/images/home3.jpg">			
							</div>
						</div>
					</div>

						<div class="progress-bar-container">
							<div class="progress-bar" id="progress-bar"></div>
						</div>

							<div class="progress-title-container">
								<div class="progress-title" [ngClass]="{first: currentTitle === 5, second: currentTitle === 0, third: currentTitle === 1, fourth: currentTitle === 2, fifth: currentTitle === 3, off: currentTitle === 4}" id="progress-title-0" data-id="0" (click)="startFullScreenAnimation()" (mouseover)="startHoverAnimation()" (mouseleave)="endHoverAnimation()">
									<span class="progress-title-top">
										Develop&#233;r
										<!-- Experience & Sk&#237;lls -->
									</span>
									<span class="progress-title-bottom"></span>
								</div>

								<div class="progress-title" id="progress-title-1" [ngClass]="{first: currentTitle === 0, second: currentTitle === 1, third: currentTitle === 2, fourth: currentTitle === 3, fifth: currentTitle === 4, off: currentTitle === 5}" (click)="startFullScreenAnimation()" (mouseover)="startHoverAnimation()" (mouseleave)="endHoverAnimation()">
									<span class="progress-title-top">
										Portfoli&#243;	
									</span>
									<span class="progress-title-bottom"></span>
								</div>

								<div class="progress-title off" id="progress-title-2" [ngClass]="{first: currentTitle === 1, second: currentTitle === 2, third: currentTitle === 3, fourth: currentTitle === 4, fifth: currentTitle === 5, off: currentTitle === 0}" (click)="startFullScreenAnimation()" (mouseover)="startHoverAnimation()" (mouseleave)="endHoverAnimation()">
									<span class="progress-title-top">
										<!-- Bi&#243; & C&#243;ntact -->
										Bi&#243;
									</span>
									<span class="progress-title-bottom"></span>
								</div>

								<div class="progress-title" id="progress-title-3" [ngClass]="{first: currentTitle === 2, second: currentTitle === 3, third: currentTitle === 4, fourth: currentTitle === 5, fifth: currentTitle === 0, off: currentTitle === 1}" (click)="startFullScreenAnimation()" (mouseover)="startHoverAnimation()" (mouseleave)="endHoverAnimation()">
									<span class="progress-title-top">
										Develop&#233;r
										<!-- Experience & Sk&#237;lls -->
									</span>
									<span class="progress-title-bottom"></span>
								</div>
								<div class="progress-title off" id="progress-title-4" [ngClass]="{first: currentTitle === 3, second: currentTitle === 4, third: currentTitle === 5, fourth: currentTitle === 0, fifth: currentTitle === 1, off: currentTitle === 2}" (click)="startFullScreenAnimation()" (mouseover)="startHoverAnimation()" (mouseleave)="endHoverAnimation()">
									<span class="progress-title-top">
										Portfoli&#243;
									</span>
									<span class="progress-title-bottom"></span>
								</div>

								<div class="progress-title" id="progress-title-5" [ngClass]="{first: currentTitle === 4, second: currentTitle === 5, third: currentTitle === 0, fourth: currentTitle === 1, fifth: currentTitle === 2, off: currentTitle === 3}" (click)="startFullScreenAnimation()" (mouseover)="startHoverAnimation()" (mouseleave)="endHoverAnimation()">
									<span class="progress-title-top">
										<!-- Bi&#243; & C&#243;ntact -->
										Bi&#243;
									</span>
									<span class="progress-title-bottom"></span>
								</div>
							</div>


					<div class="scroller-container">
						<div class="scroller">
							<div class="scroller-icon" (click)="scrollSlideToView()">
								<i class="fa fa-chevron-circle-down" aria-hidden="true"></i> 
							</div>
						</div>
					</div>
					<div class="home-nav-container">
						<div class="home-nav-content">
							<div class="home-nav previous" (click)="previousSlide()">Previous</div>
							<div class="home-nav next" (click)="nextSlide()">Next</div>
							<div class="home-nav-current">
								0
								<div class="current-number active" [ngClass]="{active: currentSlide === 0, top: currentSlide === 1, bottom: currentSlide === 2}">1</div> 
								<div class="current-number bottom" [ngClass]="{active: currentSlide === 1, top: currentSlide === 2, bottom: currentSlide === 0}">2</div> 
								<div class="current-number top" [ngClass]="{active: currentSlide === 2, top: currentSlide === 0, bottom: currentSlide === 1}">3</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="slide-content" *ngIf="fullScreen">
				<div class="slide-content-container">
					<div class="placeholder"></div>
					<div class="real">
						<experience *ngIf="currentSlide === 0"></experience>
						<portfolio *ngIf="currentSlide === 1"></portfolio>
						<bio *ngIf="currentSlide === 2"></bio>

						<div class="partial-nav-container" [ngClass]="{inverted: currentSlide === 1 || currentSlide === 2}">
							<div class="partial-nav previous" (click)="previousSlide()">
								<span *ngIf="currentSlide === 0">Bio</span>
								<span *ngIf="currentSlide === 1">Experience</span>
								<span *ngIf="currentSlide === 2">Portfolio</span>
							</div>
							<div class="partial-nav next" (click)="nextSlide()">
								<span *ngIf="currentSlide === 0">Portfolio</span> 
								<span *ngIf="currentSlide === 1"> Bio</span>
								<span *ngIf="currentSlide === 2">Experience</span>
							</div>
							<div class="partial-nav-text"> 
								<span *ngIf="currentSlide === 0">01</span>
								<span *ngIf="currentSlide === 1">02</span>
								<span *ngIf="currentSlide === 2">03</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
